.btn-gradient {
    border-radius: 360px!important;
    border: 1px solid rgba(52, 52, 52, 0.50)!important;
    background: #080808!important;
    backdrop-filter: blur(10px)!important;
    text-transform: none!important;
    padding: 15px 20px!important;

    .btn-text {
        font-size: 14px;
        background: linear-gradient(90deg, #ABABAB 0%, #2D2D2D 102.73%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .btn-icon {
        padding: 5px 0;
    }
}