.btn-gradient {
    border-radius: 360px;
    border: 1px solid rgba(52, 52, 52, 0.50);
    background: #080808;
    backdrop-filter: blur(10px);
    text-transform: none;
    padding: 15px 20px;

    .btn-text {
        font-size: 14px;
        background: linear-gradient(90deg, #ABABAB 0%, #2D2D2D 102.73%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .btn-icon {
        padding: 5px 0;
    }
}